<p id="notice"><%= notice %></p>

<h1>Near Stations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @near_stations.each do |near_station| %>
      <tr>
        <td><%= link_to 'Show', near_station %></td>
        <td><%= link_to 'Edit', edit_near_station_path(near_station) %></td>
        <td><%= link_to 'Destroy', near_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Near Station', new_near_station_path %>
