<%= form_with(model: property, local: true) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :remark %>
    <%= f.text_area :remark %>
  </div>

  <%= f.fields_for :near_stations, @property.near_stations.build do |p| %>
    <% @property.near_stations.each do %>
    <div class="field">
      <%= p.label :line_name %>
      <%= p.text_field :line_name %>
    </div>
    <div class="field">
      <%= p.label :station_name %>
      <%= p.text_field :station_name %>
    </div>
    <div class="field">
      <%= p.label :minutes %>
      <%= p.text_field :minutes %>
    </div>
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>
    window.onload = () => {
        document.getElementsByClassName('moyorieki')[0].innerText = "最寄駅1"
        const button = document.getElementById('addStation')
        button.addEventListener('click', () => {
            setTimeout(() => {
                const moyoriekis = document.getElementsByClassName('moyorieki')
                for(i = 0; i < moyoriekis.length; i++){
                    moyoriekis[i].innerHTML = `最寄駅${i+1}`
                }
            }, 1)
        })
    }
</script>



